.mulhm-profile img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.mulhm-profile div p:first-child {
  color: #3a3541;
  font-family: Lato;
  font-size: 12.64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.mulhm-profile div p:last-child {
  color: #3a3541;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 5px;
}

.chat-search {
  display: flex;
  height: 50px;
  padding: 13px 13px 13px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 144px;
  border-radius: 8px;
  background: var(--Surface-White, #fff);
  border: none;
  width: 100%;
  outline: none;
}

.chat-search input:focus {
  outline: none !important;
}

.users-chats {
  background: rgba(111, 176, 127, 0.08);
  border-radius: 8px;
  padding: 0;
  position: relative;
  width: fit-content;
  margin-top: 20px;
  height: calc(100vh - 206px);
  overflow-y: auto;
  overflow-x: hidden;
}

.search-container {
  position: relative;
  width: 340px;
}

.search-icon {
  width: 19px;
  height: 20px;
  position: absolute;
  top: 32%;
  margin: 0;
  right: 15px;
}

.some-info {
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Surface-White, #fff);
  flex-grow: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.some-info p {
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.some-info p span {
  color: var(--Type-Light, #89868d);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.users-chats::-webkit-scrollbar {
  width: 8px;
}

.users-chats::-webkit-scrollbar-thumb {
  background-color: #345995;
  border-radius: 3.5px;
  box-shadow: 0px 0px 10px 0px rgba(30, 42, 60, 0.2);
}

.users-chats::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 3.5px;
}

.users-chats .heading {
  color: #3a3541;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}

.users-chats .desc {
  color: #89868d;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.users-chats .chats .chat-elem {
  width: 330px;
  flex-shrink: 0;
  position: relative;
  padding: 15px;
}

.users-chats .unreaded {
  background: #d6deea;
}

.users-chats .chats .chat-elem img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.users-chats .chats .chat-elem .name-desc p {
  color: var(--Type-Light, #89868d);
  font-family: Urbanist;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.users-chats .chats .chat-elem .name-desc p:last-child {
  margin-top: 5px;
  font-size: 10px;
}

.users-chats .chats .chat-elem .time {
  color: var(--Type-Light, #89868d);
  font-family: Urbanist;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.users-chats .chats .chat-elem .content {
  color: var(--Type-Light, #89868d);
  font-family: Urbanist;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 10px;
}

/* -------------- */
/* -- Calendar -- */
/* -------------- */

.chatting {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: fit-content;
  margin-top: 20px;
  height: calc(100vh - 206px);
  overflow-y: auto;
  flex-grow: 999;
}

.chatting .type-box {
  position: absolute;
  bottom: 5px;
  width: calc(100% - 40px);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.chatting .type-box input {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-grow: 999;
  height: 35px;
  padding: 11px 25.574px 12px 25.574px;
  align-items: center;
  flex-shrink: 0;
  border: none;
  outline: none;
}

.chatting .type-box input:focus {
  outline: none;
}

.chatting .type-box label {
  cursor: pointer;
}

.chatting .type-box img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin: 0;
}
