.user-profiles {
  flex-grow: 999;
  padding-right: 15px;
}

/* ---- Topbar && Header ---- */

.user-profiles .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-profiles .header button {
  display: block;
  display: flex;
  width: 169px;
  height: 46px;
  padding: 8px 29px 9px 23px;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #345995;
  border: none;
}

.user-profiles .header button span {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ---- Table Style ---- */

.table-container {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.table-container img.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}

.table-container .action-icons img {
  width: 15px;
  height: 15px;
  margin: 0;
  cursor: pointer;
}

.name-cell div span:first-child,
.defualt-cell {
  color: #192a3e;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.defualt-td {
  color: #192a3e;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name-cell div span:last-child {
  color: #90a0b7;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 9px;
  text-align: center;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.finish {
  background: rgba(36, 193, 143, 0.1);
  color: #24c18f;
}

.in-progress {
  background: rgba(241, 143, 1, 0.1);
  color: #f18f01;
}

.cancel {
  background: rgba(247, 85, 85, 0.1);
  color: #f75555;
}

.pending {
  background: #e2f4c58c;
  color: #496989;
}

.upcoming {
  background: #ace2e162;
  color: #008dda;
}

.topbar-status {
  color: #101010;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.topbar-filter {
  cursor: pointer;
}

/* ---- Editing Poppup Style ---- */

.editing,
.delete-alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease;
}

.editing .editing-container {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  width: 750px;
  position: relative;
}

.editing .editing-container p.heading {
  color: #3a3541;
  text-align: center;
  font-family: Lato;
  font-size: 20.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

.editing .editing-container .profile-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.editing .editing-container .profile-details .input-elem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editing .editing-container .profile-details .input-elem input {
  display: flex;
  width: 330px;
  height: 46px;
  padding: 5px 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #dbdcde;
  background: #f4f5f9;
  color: #89868d;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing .editing-container .profile-details .input-elem input:focus {
  outline: none;
  border-color: #345995;
}

.editing .custom-input {
  display: flex;
  align-items: flex-start;
}

.editing .custom-input input {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 5px;
}

.editing .custom-input span {
  color: #3a3541;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing .editing-container .profile-details .input-elem label {
  color: #3a3541;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing .editing-container .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.editing .editing-container .btns button {
  display: inline-flex;
  padding: 15px 37px 14px 37px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  gap: 10px;
  border: none;

  flex-grow: 1;
}

.editing .editing-container .btns button:focus {
  outline: none;
}

.editing .editing-container .btns button img,
.editing .editing-container .btns button svg {
  margin: 0;
}

.editing .editing-container .btns button:nth-child(1) {
  color: #f75555;
  background-color: #fff;
  border: 1px solid #f75555;
}

.editing .editing-container .btns button:nth-child(2) {
  background: #345995;
}

.editing-container p:nth-child(2) {
  color: #3a3541;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing-container .categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;
  margin-top: 10px;
}

.editing-container .categories .elem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.editing-container .categories .elem img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: 0.3s;
}

.editing-container .categories .elem.focused img {
  border-color: #DBDCDE;
  transform: scale(1.2);
}

.editing-container .categories .elem span {
  color: #424242;
  text-align: center;
  font-family: Urbanist;
  font-size: 12.859px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.161px;
}

/* Delete Alert */

.delete-alert .delete-alert-container {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 600px;
}

.delete-alert .delete-alert-container .photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
  display: block;
  margin: 0 auto;
}

.delete-alert .delete-alert-container .photo span {
  color: #3a3541;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delete-alert .delete-alert-container p.heading {
  color: #f75555;
  text-align: center;
  font-family: Lato;
  font-size: 20.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 25px;
}

.delete-alert .delete-alert-container p.desc {
  color: var(--Type-Dark, #3a3541);
  text-align: center;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: 169.5%;
  margin: 10px 0;
}

.delete-alert .delete-alert-container .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.delete-alert .delete-alert-container .btns button {
  display: inline-flex;
  padding: 15px 37px 14px 37px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #345995;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  gap: 10px;
  border: none;
  flex: 1;
  text-align: center;
}

.delete-alert .delete-alert-container .btns button:focus {
  outline: none;
}

.delete-alert .delete-alert-container .btns button:nth-child(1) {
  background-color: #ebeef4;
  color: #345995;
}

.delete-alert .delete-alert-container .btns button:nth-child(2) {
  background-color: #f75555;
}

.delete-alert .delete-alert-container .hide-delete {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
