.user-profiles {
  flex-grow: 999;
  padding-right: 15px;
}

/* ---- Topbar && Header ---- */

.user-profiles .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-profiles .header button {
  display: block;
  display: flex;
  width: 169px;
  height: 46px;
  padding: 8px 29px 9px 23px;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #345995;
  border: none;
}

.user-profiles .header button span {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pdf-img {
}

/* ---- Table Style ---- */

.table-container {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.table-container img.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}

.table-container .action-icons img {
  width: 15px;
  height: 15px;
  margin: 0;
  cursor: pointer;
}

.name-cell div span:first-child,
.defualt-cell {
  color: #192a3e;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.defualt-td {
  color: #192a3e;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name-cell div span:last-child {
  color: #90a0b7;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
}

.pdf-img {
  width: 30px;
  height: 30px;
  margin: 0;
}

button.download,
button.download-all {
  display: flex;
  width: 100px;
  height: 32px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: #3a3541;
  color: #fff;
  border: none;
}

button.download-all {
  background: #345995;
  padding: 0;
  width: 120px;
}

button.download:focus,
button.download-all:focus {
  outline: none;
}

.billing-history p.heading,
.payment-method p.heading {
  color: #3a3541;
  font-family: Lato;
  font-size: 25.63px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;
}

.billing-history p.desc,
.payment-method p.desc {
  color: #89868d;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.payment-method,
.payment-amount {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.payment-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.payment-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  margin-bottom: 5px;
  padding: 21px 20px 22px 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.payment-box img {
  width: 50px;
  margin: 0;
}

.payment-box div p:first-child {
  color: #3a3541;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 10px;
}

.payment-box div p:last-child {
  color: #89868d;
  font-family: Lato;
  font-size: 12.64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.payment-box button {
  display: flex;
  width: 100px;
  height: 32px;
  padding: 8px 0px 9px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Primary-Color, #345995);
  background: #ebeef4;
  color: #345995;
  text-align: center;
  font-family: Lato;
  font-size: 12.64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment-amount {
  position: relative;
}

.payment-amount p.heading {
  color: var(--Type-Dark, #3a3541);
  font-family: Lato;
  font-size: 20.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.payment-amount .amount {
  color: #345995;
  font-family: Lato;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment-amount .amount span {
  font-size: 32px;
}

.payment-amount .vat {
  color: #505050;
  font-family: Lato;
  font-size: 20.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.payment-amount .vat span:nth-child(2) {
  color: #f75555;
}

.payment-amount .vat span:nth-child(3) {
  font-size: 12px;
}

.payment-amount .withdraw {
  display: flex;
  width: 210px;
  padding: 15px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Surface-White, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: #345995;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

/* ---- Editing Poppup Style ---- */

.editing,
.delete-alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease;
}

.editing .editing-container {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  width: 750px;
  position: relative;
}

.editing .editing-container p.heading {
  color: #3a3541;
  font-family: Lato;
  font-size: 22.78px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  text-align: left;
}

.payment .editing-container hr {
  border: 1px solid #dbdcde;
  margin: 15px 0;
}

.payment-elem {
  display: flex;
  width: 241px;
  height: 80px;
  padding: 23px 30.874px 24.5px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #dbdcde;
  background: #fff;
}

.payment-elem input {
  cursor: pointer;
}

.payment-elem section p:first-child {
  color: #3a3541;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 8px;
}

.payment-elem p:last-child {
  color: #89868d;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.payment-elem p:last-child span:first-child {
  color: #89868d;
}

.payment-elem p:last-child span:last-child {
  color: #3a3541;
  cursor: pointer;
}

.payment-elem.focused {
  border-color: #345995;
}

.payment-elem:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 80px;
  cursor: pointer;
}

.payment-elem:last-child span {
  color: #345995;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing .editing-container .profile-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.editing .editing-container .profile-details .input-elem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editing .editing-container .profile-details .input-elem input {
  display: flex;
  width: 330px;
  height: 46px;
  padding: 5px 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #dbdcde;
  background: #f4f5f9;
  color: #89868d;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing .editing-container .profile-details .input-elem input:focus {
  outline: none;
  border-color: #345995;
}

.editing .editing-container .profile-details .input-elem label {
  color: #3a3541;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editing .editing-container .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.editing .editing-container .btns button.button-action {
  display: inline-flex;
  padding: 15px 37px 14px 37px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  background: #345995 !important;
  color: #fff !important;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  gap: 10px;
  border: none;
}

.editing .editing-container .btns button:focus {
  outline: none;
}

.editing .editing-container .btns button img,
.editing .editing-container .btns button svg {
  margin: 0;
  width: 20px;
  height: 20px;
}

.editing .editing-container .btns button.button-action:nth-child(2) {
  background: #6fb07f !important;
}

.editing .editing-container .btns button:nth-child(3) {
  background: #f75555 !important;
  margin-right: 15px;
}

.editing .editing-container .hide-profile {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

/* Delete Alert */

.delete-alert .delete-alert-container {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 600px;
}

.delete-alert .delete-alert-container .photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
  display: block;
  margin: 0 auto;
}

.delete-alert .delete-alert-container .photo span {
  color: #3a3541;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delete-alert .delete-alert-container p.heading {
  color: #f75555;
  text-align: center;
  font-family: Lato;
  font-size: 20.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 25px;
}

.delete-alert .delete-alert-container p.desc {
  color: var(--Type-Dark, #3a3541);
  text-align: center;
  font-family: Lato;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: 169.5%;
  margin: 10px 0;
}

.delete-alert .delete-alert-container .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.delete-alert .delete-alert-container .btns button {
  display: inline-flex;
  padding: 15px 37px 14px 37px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #345995;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  gap: 10px;
  border: none;
  flex: 1;
  text-align: center;
}

.delete-alert .delete-alert-container .btns button:focus {
  outline: none;
}

.delete-alert .delete-alert-container .hide-delete {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.ivoice-checkbox input[type="checkbox"] {
  width: 15.75px;
  height: 18px;
}

.ivoice-checkbox label {
  color: #89868d !important;
  font-family: Lato;
  font-size: 14.22px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

button.default-btn {
  background-color: #345995 !important;
  color: #fff !important;
  border-color: #345995 !important;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button.default-btn span {
  font-weight: 700;
}

.payment-elem input[type="checkbox"] {
  width: 26.25px;
  height: 30px;
  flex-shrink: 0;
}
